<script>
/*
    $(function(){
        $( ".simulator-table-course" ).draggable({
            revert: true,
            start: function() {
                $(this).removeClass('active');
                $('.garbage-can-field').addClass('active');
                $('.mobile-bottom-nav').addClass('hide');
            },
            drag: function() {
            },
            stop: function() {
                $(this).addClass('active');
                $('.garbage-can-field').removeClass('active');
                $('.mobile-bottom-nav').removeClass('hide');
            }

        });
        $(".garbage-can-field").droppable({
            activeClass: "",
            hoverClass: "hover",
            accept: ".simulator-table-course",
            drop: function(event, ui) {
                item_id = $(ui.draggable).attr('iid');
                $.ajax({
                    url:'/courses_simulator/' + item_id,
                    type: 'DELETE',
                    success: function(response) {
                        var item = response["item"];
                        var course = response["course"];
                        var course_name = course.course_name;

                        $('.course-id[cid="' + item.course_id + '"]').parent('.course-select-item').removeClass('disabled');
                        console.log(item);
                        $('.item-id[iid=' + item["id"] +']').parent('.course-hasselect-item').remove();
                        $('.simulator-table-course[iid="' + item["id"] + '"]').remove();
                        Materialize.toast('"' + course_name + '" 已經移出課表！', 2000);
                        CourseConflictTest();
                        CourseCreditsCounter();
                    }
                })
            }
        })
    });
*/
</script>
<div class="container-fuild" style="padding-top: 35px;">
    <div class="row">
        <div class="col-md-2 simulator-fixed" dataPage="mobile" id="select-page">
            <div class="page-slider" style="margin-top: 36px;">
                <ul class="tabs">
                    <li class="tab col s3 simulator-sidebar-trigger"><a class="active" href="#test1">課程選擇</a></li>
                    <li class="tab col s3 course-hasselect-field-trigger"><a href="#test2">已選課表(<span id="credits-total"></span>)</a></li>
                </ul>
                <div id="test1" class="col s12" style="background-color: #4A4A4A;   height: 100%;">
                    <div class="simulator-sidebar">
                        <div class="simulator-sidebar-inner">
                            <div class="course-search-field">
                                <div class="course-search-field-inner">
                                    <!--
                                    <form class="school-select-form">
                                        <select class="browser-default">
                                            <option value="" disabled selected>Choose your school</option>
                                            <option value="1">台灣科技大學</option>
                                            <option value="2">台灣大學</option>
                                            <option value="3">清華大學</option>
                                            <option value="3">交通大學</option>
                                            <option value="3">政治大學</option>
                                        </select>
                                    </form>
                                    -->
                                    <form class="course-search-form">
                                        <input id="course-searchbox" class="course-searchbox" type="search" placeholder="Search..">
                                    </form>
                                </div>
                            </div>
                            <div class="course-select-field">
                                <div class="simulator-search-result">
                                    <!--
                                        <div class="course-select-item">
                                            <div class="name"> course_name </div>
                                            <div class="lecturer">lecturer_name</div>
                                            <div class="course-code">course_code</div>
                                            <br>
                                            <div class="course-time">c.course_time</div>
                                            <div class="course-location">c.location</div>
                                            <div class="course-credits">c.credits</div>
                                            <button class="add-to-simulator">+</button>
                                            <div class="course-code" cid="c.id"></div>
                                        </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="test2" class="col s12" style="background-color: #F89680;   height: 100%;">
                    <div class="course-hasselect-field" id="course-hasselect-field">
                        <!--<div class="course-hasselect-field-trigger" id="course-hasselect-field-trigger">
                            <p>已</p>
                            <p>選</p>
                            <p>課</p>
                            <p>表</p>
                            <p></p>
                        </div>-->
                        <div class="course-hasselect-field-inner">
                            <% @user_courses.each do |item| %>
                                <div class="course-hasselect-item">
                                  <div class="name">
                                    course_name
                                  </div>
                                  <div class="lecturer">lecturer_name</div>
                                  <div class="code">course_code</div>
                                  <br>
                                  <div class="time">course_time</div>
                                  <div class="location">course.location</div>
                                  <div class="credits">course.credits</div>
                                  <button class="remove-hasselect-course"><i class="mdi-content-clear" style="color:black;"></i></button>
                                  <div class="item-id" iid="<%= item.id %>"></div>
                                  <div class="item-course-id" icd="<%= item.course_code %>"></div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-6 simulator-fixed-calendar active" dataPage="mobile" id="calendar-page">
            <div class="page-slider" style="padding-top: 36px;">
                <h4 class="simulator-title" style="display:none;"><%= current_user.name %>的課表</h4>
                <div class="garbage-can-field" id="garbage-can-delete">
                    <button class="garbage-can-delete"></button>
                </div>
                <div class="import-to-mobile-field" style="float: right; margin-top: 5px;">
                    <button id="import-to-mobile" class="import-to-mobile">匯入手機GOGO<i class="mdi-content-send right"></i></button>
                </div>
                <div style="clear: both;"></div>
                <div class="simulator-table-field" style="padding-top: 0 !important;">
                    <table class="simulator-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                                <th>五</th>
                                <th>六</th>
                                <th>日</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="class0">
                                <td>0</td>
                                <td class="M1 day1 period1"></td>
                                <td class="T1 day2 period1"></td>
                                <td class="W1 day3 period1"></td>
                                <td class="R1 day4 period1"></td>
                                <td class="F1 day5 period1"></td>
                                <td class="S1 day6 period1"></td>
                                <td class="Sun1 day7 period1"></td>
                            </tr>
                            <tr class="class1">
                                <td>1</td>
                                <td class="M2 day1 period2"></td>
                                <td class="T2 day2 period2"></td>
                                <td class="W2 day3 period2"></td>
                                <td class="R2 day4 period2"></td>
                                <td class="F2 day5 period2"></td>
                                <td class="S2 day6 period2"></td>
                                <td class="Sun2 day7 period2"></td>
                            </tr>
                            <tr class="class2">
                                <td>2</td>
                                <td class="M3 day1 period3"></td>
                                <td class="T3 day2 period3"></td>
                                <td class="W3 day3 period3"></td>
                                <td class="R3 day4 period3"></td>
                                <td class="F3 day5 period3"></td>
                                <td class="S3 day6 period3"></td>
                                <td class="Sun3 day7 period3"></td>
                            </tr>
                            <tr class="class3">
                                <td>3</td>
                                <td class="M4 day1 period4"></td>
                                <td class="T4 day2 period4"></td>
                                <td class="W4 day3 period4"></td>
                                <td class="R4 day4 period4"></td>
                                <td class="F4 day5 period4"></td>
                                <td class="S4 day6 period4"></td>
                                <td class="Sun4 day7 period4"></td>
                            </tr>
                            <tr class="class4">
                                <td>4</td>
                                <td class="M5 day1 period5"></td>
                                <td class="T5 day2 period5"></td>
                                <td class="W5 day3 period5"></td>
                                <td class="R5 day4 period5"></td>
                                <td class="F5 day5 period5"></td>
                                <td class="S5 day6 period5"></td>
                                <td class="Sun5 day7 period5"></td>
                            </tr>
                            <tr class="class5">
                                <td>5</td>
                                <td class="M6 day1 period6"></td>
                                <td class="T6 day2 period6"></td>
                                <td class="W6 day3 period6"></td>
                                <td class="R6 day4 period6"></td>
                                <td class="F6 day5 period6"></td>
                                <td class="S6 day6 period6"></td>
                                <td class="Sun6 day7 period6"></td>
                            </tr>
                            <tr class="class6">
                                <td>6</td>
                                <td class="M7 day1 period7"></td>
                                <td class="T7 day2 period7"></td>
                                <td class="W7 day3 period7"></td>
                                <td class="R7 day4 period7"></td>
                                <td class="F7 day5 period7"></td>
                                <td class="S7 day6 period7"></td>
                                <td class="Sun7 day7 period7"></td>
                            </tr>
                            <tr class="class7">
                                <td>7</td>
                                <td class="M8 day1 period8"></td>
                                <td class="T8 day2 period8"></td>
                                <td class="W8 day3 period8"></td>
                                <td class="R8 day4 period8"></td>
                                <td class="F8 day5 period8"></td>
                                <td class="S8 day6 period8"></td>
                                <td class="Sun8 day7 period8"></td>
                            </tr>
                            <tr class="class8">
                                <td>8</td>
                                <td class="M9 day1 period9"></td>
                                <td class="T9 day2 period9"></td>
                                <td class="W9 day3 period9"></td>
                                <td class="R9 day4 period9"></td>
                                <td class="F9 day5 period9"></td>
                                <td class="S9 day6 period9"></td>
                                <td class="Sun9 day7 period9"></td>
                            </tr>
                            <tr class="class9">
                                <td>9</td>
                                <td class="M10 day1 period10"></td>
                                <td class="T10 day2 period10"></td>
                                <td class="W10 day3 period10"></td>
                                <td class="R10 day4 period10"></td>
                                <td class="F10 day5 period10"></td>
                                <td class="S10 day6 period10"></td>
                                <td class="Sun10 day7 period10"></td>
                            </tr>
                            <tr class="class10">
                                <td>10</td>
                                <td class="MA day1 period11"></td>
                                <td class="TA day2 period11"></td>
                                <td class="WA day3 period11"></td>
                                <td class="RA day4 period11"></td>
                                <td class="FA day5 period11"></td>
                                <td class="SA day6 period11"></td>
                                <td class="SunA day7 period11"></td>
                            </tr>
                            <tr class="classA">
                                <td>A</td>
                                <td class="MB day1 period12"></td>
                                <td class="TB day2 period12"></td>
                                <td class="WB day3 period12"></td>
                                <td class="RB day4 period12"></td>
                                <td class="FB day5 period12"></td>
                                <td class="SB day6 period12"></td>
                                <td class="SunB day7period12"></td>
                            </tr>
                            <tr class="classB">
                                <td>B</td>
                                <td class="MC day1 period13"></td>
                                <td class="TC day2 period13"></td>
                                <td class="WC day3 period13"></td>
                                <td class="RC day4 period13"></td>
                                <td class="FC day5 period13"></td>
                                <td class="SC day6 period13"></td>
                                <td class="SunC day7 period13"></td>
                            </tr>
                            <tr class="classC">
                                <td>C</td>
                                <td class="MC day1 period14"></td>
                                <td class="TC day2 period14"></td>
                                <td class="WC day3 period14"></td>
                                <td class="RC day4 period14"></td>
                                <td class="FC day5 period14"></td>
                                <td class="SC day6 period14"></td>
                                <td class="SunC day7 period14"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="modal-course-name"></h4>
        <p>課程代號： <span class="modal-course-general-code"></span></p>
        <p>學分： <span class="modal-course-credits"></span></p>
        <p>課程網站： <a class="modal-course-link" href="">前往課程網站</a></p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>
<div class="mobile-bottom-nav">
  <div class="mobile-nav-btn btn-1" id="calendar-trigger">
    已選課表
  </div>
  <div class="mobile-nav-btn btn-2" id="select-trigger">
    課程選擇
  </div>
  <div class="mobile-nav-btn btn-3" id="app-trigger">
    APP下載
  </div>
</div>

<script>
// Mobile Mode Nav Control
// 手機模式下方的選單，點擊一個btn之後可以讓其他btn失效，達成tabs的效果。
    $(window).load(function(){
        $('#calendar-page').addClass('active');
        $('#calendar-trigger').click(function(){
            $('div[dataPage = "mobile"]').removeClass('active');
            $('#calendar-page').addClass('active');
        })
        $('#select-trigger').click(function(){
            $('div[dataPage = "mobile"]').removeClass('active');
            $('#select-page').addClass('active');
        })
    })

//

$('#course-hasselect-field-trigger').click(function(){
    $('#course-hasselect-field').toggleClass('active');
})

//
// 製作當滑鼠移到 td 上方時，底下被選的課程會從原本被堆疊的狀態展開。
// 反之，當滑鼠移開時，課程會收起來。
//
$(document).on('mouseover' ,'.simulator-table td', function(e){
    var coursecount = $(this).children('.simulator-table-course').length;
    var tdHeight = (coursecount * 35) + 30 + (coursecount - 1);
    var course_position = 0;
    var first_course_position = (coursecount / 2 - 0.5 ) * 35 * -1;
    if(coursecount >= 2){
        $(this).css({
            'height' : tdHeight + 'px'
        })
        $(this).children('.simulator-table-course:nth-child(1)').css({
            'top' : first_course_position + 'px'
        });
        for(i = 2; i <= coursecount ; i++ ){
            course_position = 15 + ((i - 1)*35) + (i - 1);
            $(this).children('.simulator-table-course:nth-child(' + i + ')').css({
                'transform' : '',
                '-moz-transform' : '',
                '-o-transform' : '',
                '-ms-transform' : '',
                '-webkit-transform' : '',
                'top' : course_position + 'px'
            });
        }
    }
})
$(document).on('mouseout' ,'.simulator-table td',function(e){
    var coursecount = $(this).children('.simulator-table-course').length;
    if(coursecount >= 2){
        $(this).css({
            'height' : ''
        })
        $(this).children('.simulator-table-course:nth-child(1)').css({
            'top' : ''
        });
        var degreebase = 7.5;
        var degree = 0;
        for(i = 2; i <= coursecount ; i++ ){
            degree = degreebase * (i - 1);
            $(this).children('.simulator-table-course:nth-child(' + i + ')').css({
                'transform' : 'rotate(' + degree + 'deg)',
                '-moz-transform' : 'rotate(' + degree + 'deg)',
                '-o-transform' : 'rotate(' + degree + 'deg)',
                '-ms-transform' : 'rotate(' + degree + 'deg)',
                '-webkit-transform' : 'rotate(' + degree + 'deg)',
                'top' : '15px'
            });
        }
    }
})

//
// 函式： 計算所有已選課程的學分數，並且 append 到統計裡面。
//
function CourseCreditsCounter(){
    var creditsTotal = 0;

    $('.credits').each(function(){
        var number = parseInt($(this).text());
        //numbers.push(number);
        creditsTotal = creditsTotal + number;
    })
    $('#credits-total').html('');
    $('#credits-total').append(creditsTotal);
}

//
// 函式： 選擇課程之後會把已經課程在 選擇界面中 disable 掉。
//
/*
function courseSelectItemDisabledTest(){
    $('.course-select-item').removeClass('disabled');
    $('.item-course-id').each(function(){
        var icd = $(this).attr('icd');
        $('.course-id[cid="' + icd + '"]').parent('.course-select-item').addClass('disabled');
    })
}
*/
//
// 當一個 td 底下有超過一個課程之後，加入衝堂的css狀態，並且加上堆疊效果。
//
function CourseConflictTest(){
    $('.simulator-table td').each(function(){
        var coursecount = $(this).children('.simulator-table-course').length;
        $(this).children('.simulator-table-course:nth-child(1)').removeClass('course-conflict-pack').css({
                'transform' : '',
                '-moz-transform' : '',
                '-o-transform' : '',
                '-ms-transform' : '',
                '-webkit-transform' : '',
                'top' : '0'
            });
        if (coursecount >= 2) {
            $(this).children('.simulator-table-course').addClass('course-conflict');
            var degreebase = 7.5;
            var degree = 0;
            for( i = 2; i <= coursecount ; i ++){
                degree = degreebase * (i - 1);
                $(this).children('.simulator-table-course:nth-child(' + i +')').addClass('course-conflict-pack').css({
                    'transform' : 'rotate(' + degree + 'deg)',
                    '-moz-transform' : 'rotate(' + degree + 'deg)',
                    '-o-transform' : 'rotate(' + degree + 'deg)',
                    '-ms-transform' : 'rotate(' + degree + 'deg)',
                    '-webkit-transform' : 'rotate(' + degree + 'deg)'
                });
            };
        }else{
            $(this).children('.simulator-table-course:nth-child(1)').removeClass('course-conflict').css({
                'transform' : '',
                '-moz-transform' : '',
                '-o-transform' : '',
                '-ms-transform' : '',
                '-webkit-transform' : ''
            });
        }
    });
}

//
//
//
function splitACourse() {
    var courseHasselectItem = $('.course-hasselect-item');
    courseHasselectItem.each(function(){
        var course_code = $(this).children(".item-course-id").attr('icd');
        var getCourseUri = 'https://colorgy.io:443/api/ntust/courses.json?' +
                'filter[code]=' + course_code
        $.get(getCourseUri, function(course_response){
            var course = course_response[0];
            console.log(course);
            var course_name = course.name;
            var course_lecturer = course.lecturer;
            var course_general_code = course.general_code;
            var credits = course.credits;
            var course_code = course.code;

            $(this).children('.name').html(course_name);
            $(this).children('.lecturer').html(course_lecturer);
            $(this).children('.code').html(course_general_code);
            $(this).children('.credits').html(credits);

        }.bind(this))
    });

    var courseItem = $('.course-hasselect-item');
    courseItem.each(function(){
        var course_code = $(this).children(".item-course-id").attr('icd');
        var getCourseUri = 'https://colorgy.io:443/api/ntust/courses.json?' +
                'filter[code]=' + course_code;
        var item_id = $(this).children('.item-id').attr('iid');

        $.get(getCourseUri, function(course_response){

            var course = course_response[0];
            var course_name = course.name;
            //var course_time = course["course_time"];
            var course_lecturer = course.lecturer;
            var course_general_code = course.general_code;
            var course_code = course.code;
            var credits = course.credits;
            //var item_id = $(this).children(".item-id").attr('iid');
            //var course_times = $(this).children(".time").text().split(" ");
            //var counter = course_times.length;
            for (var i = 1; i <= 9; i++) {
                var thisCourse_day = course['day_' + i];
                var thisCourse_period = course['period_' + i];
                var thisCourse_location = course['location_' + i];
                $('<div class="simulator-table-course active" iid="' + item_id +'" icd="' + course_code + '">' + course_name + '</div>').appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );
                    /*
                    .draggable({
                        revert: true,
                        start: function() {
                            $(this).removeClass('active');
                            $('.garbage-can-field').addClass('active');
                            $('.mobile-bottom-nav').addClass('hide');
                        },
                        drag: function() {
                        },
                        stop: function() {
                            $(this).addClass('active');
                            $('.garbage-can-field').removeClass('active');
                            $('.mobile-bottom-nav').removeClass('hide');
                        }

                    });
                    */

                };
                CourseConflictTest();
                CourseCreditsCounter();

            });
            /*
            $(".garbage-can-field").droppable({
                activeClass: "",
                hoverClass: "hover",
                accept: ".simulator-table-course",
                drop: function(event, ui) {
                    item_id = $(ui.draggable).attr('iid');
                    $.ajax({
                        url:'/courses_simulator/' + item_id,
                        type: 'DELETE',
                        success: function(response) {
                            var item = response["item"];
                            var course = response["course"];
                            var course_name = course.course_name;

                            $('.course-id[cid="' + item.course_id + '"]').parent('.course-select-item').removeClass('disabled');
                            console.log(item);
                            $('.item-id[iid=' + item["id"] +']').parent('.course-hasselect-item').remove();
                            $('.simulator-table-course[iid="' + item["id"] + '"]').remove();
                            Materialize.toast('"' + course_name + '" 已經移出課表！', 100000);
                            CourseConflictTest();
                            CourseCreditsCounter();
                        }
                    })
                }
            })
            */
    });
};

splitACourse();
CourseCreditsCounter();
CourseConflictTest();
//courseSelectItemDisabledTest();

$(document).ready(function() {
    $('ul.tabs').tabs();
});
$(document).on({
    mouseenter: function () {
        //stuff to do on mouse enter
        $('.simulator-table-course.on-hover').remove();
        course_code = $(this).children('.course-id').attr('cid');
        var getCourseUri = 'https://colorgy.io:443/api/ntust/courses.json?' +
                'filter[code]=' + course_code;
        $.get(getCourseUri, function(course_response){

            var course = course_response[0];
            var course_name = course.name;
            //var course_time = course["course_time"];
            var course_lecturer = course.lecturer;
            var course_general_code = course.general_code;
            var course_code = course.code;
            var credits = course.credits;
            //var item_id = $(this).children(".item-id").attr('iid');
            //var course_times = $(this).children(".time").text().split(" ");
            //var counter = course_times.length;
            for (var i = 1; i <= 9; i++) {
                var thisCourse_day = course['day_' + i];
                var thisCourse_period = course['period_' + i];
                var thisCourse_location = course['location_' + i];
                $('<div class="simulator-table-course active on-hover" icd="' + course_code + '">' + course_name + '</div>').appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );
                };
                CourseConflictTest();
            });
    },
    mouseleave: function () {
        //stuff to do on mouse leave
        $('.simulator-table-course.on-hover').remove();
        CourseConflictTest();
    }
}, ".course-select-item");


$(document).on('click', '.simulator-table-course', function(){
    var course_code = $(this).attr('icd');
    var getCourseUri = 'https://colorgy.io:443/api/ntust/courses.json?' +
            'filter[code]=' + course_code;
    $.get(getCourseUri , function(course_response){
        var course = course_response[0]
        var course_name = course.name;
        //var course_time = course["course_time"];
        var course_lecturer = course.lecturer;
        var course_general_code = course.general_code;
        var course_code = course.code;
        var credits = course.credits;
        var website_url = course.url;

        $('.modal-course-name').html(course_name);
        $('.modal-course-general-code').html(course_general_code);
        $('.modal-course-credits').html(credits);
        $('.modal-course-link').attr('href', website_url);

    })

    $('#modal1').openModal();
});


$(document).on('click', '.add-to-simulator', function(){
    course_code = $(this).siblings('.course-id').attr('cid');
    console.log(course_code);

    $.post('/courses_simulator', {"courses_simulator[course_code]": course_code, "courses_simulator[course_organization_code]": '<%= current_user.organization_code %>' }, function(response) {

            //var location = course["location"]
            //var course_times = course["course_time"].split(" ");
            //var counter = course_times.length;
            var item = response["item"];
            var item_id = item["id"];

            var getCourseUri = 'https://colorgy.io:443/api/ntust/courses.json?' +
            'filter[code]=' + course_code;

            $.get(getCourseUri , function(course_response){
                var course = course_response[0]
                var course_name = course.name;
                //var course_time = course["course_time"];
                var course_lecturer = course.lecturer;
                var course_general_code = course.general_code;
                var course_code = course.code;
                var credits = course.credits;

                $('.course-hasselect-field-inner').append(
                    '<div class="course-hasselect-item">' +
                      '<div class="name">'+
                       course_name + '</div>' +
                      '<div class="lecturer">'+ course_lecturer + '</div>' +
                      '<div class="code">'+ course_general_code + '</div>' +
                      '<br>' +
                      '<div class="time">'+ 'time' + '</div>' +
                      '<div class="location">' + 'location' + '</div>' +
                      '<div class="credits">' + credits + '</div>' +
                      '<button class="remove-hasselect-course"><i class="mdi-content-clear"></i></button>' +
                      '<div class="item-id" iid="' + item_id + '"></div>' +
                      '<div class="item-course-id" icd="'+ course_code + '"></div>' + '</div>');
                for (var i = 1; i <= 9; i++) {
                    var thisCourse_day = course['day_' + i];
                    var thisCourse_period = course['period_' + i];
                    var thisCourse_location = course['location_' + i];
                    $('<div class="simulator-table-course active" iid="' + item_id + '" icd="' + course_code + '">' + course_name + '</div>').appendTo('.day'+ thisCourse_day + '.period' + thisCourse_period );
                        /*
                        .draggable({
                            revert: true,
                            start: function() {
                                $(this).removeClass('active');
                                $('.garbage-can-field').addClass('active');
                                $('.mobile-bottom-nav').addClass('hide');
                            },
                            drag: function() {
                            },
                            stop: function() {
                                $(this).addClass('active');
                                $('.garbage-can-field').removeClass('active');
                                $('.mobile-bottom-nav').removeClass('hide');
                            }

                        });
                        */

                };
                CourseConflictTest();
                CourseCreditsCounter();
                Materialize.toast('"' + course_name + '" 已經加入課表！', 2000);
            });

            //$('.course-id[cid="' + course_id + '"]').parent('.course-select-item').addClass('disabled');



            /*
            $(".garbage-can-field").droppable({
                activeClass: "",
                hoverClass: "hover",
                accept: ".simulator-table-course",
                drop: function(event, ui) {
                    item_id = $(ui.draggable).attr('iid');
                    $.ajax({
                        url:'/courses_simulator/' + item_id,
                        type: 'DELETE',
                        success: function(response) {
                            var item = response["item"];
                            var course = response["course"];
                            var course_name = course.course_name;
                            $('.course-id[cid="' + item.course_id + '"]').parent('.course-select-item').removeClass('disabled');
                            console.log(item);
                            $('.item-id[iid=' + item["id"] +']').parent('.course-hasselect-item').remove();
                            $('.simulator-table-course[iid="' + item["id"] + '"]').remove();
                            Materialize.toast('"' + course_name + '" 已經移出課表！', 2000);
                            CourseConflictTest();
                            CourseCreditsCounter();
                        }
                    })
                }
            })*/





            CourseConflictTest();
            CourseCreditsCounter();

    })

});

$(document).on('click','.remove-hasselect-course' , function() {
     //code here ....
    item_id = $(this).siblings('.item-id').attr('iid');
    $.ajax({
        url:'/courses_simulator/' + item_id,
        type: 'DELETE',
        success: function(response) {
            var item = response["item"];

            //$('.course-id[cid="' + item.course_id + '"]').parent('.course-select-item').removeClass('disabled');
            console.log(item);
            $('.item-id[iid=' + item["id"] +']').parent('.course-hasselect-item').remove();
            $('.simulator-table-course[iid="' + item["id"] + '"]').remove();
            Materialize.toast('這堂課已經移出課表！', 2000);
            CourseConflictTest();
            CourseCreditsCounter();
        }
    })
});

$('#course-searchbox').on('input', function(){
    var keyword = $('#course-searchbox').val();

    if(keyword == ''){
        $('.simulator-search-result').children('.course-select-item').remove();
        console.log('Im empty.');
    }
    else{

        var uri = 'https://colorgy.io:443/api/ntust/courses.json?filter[year]=2015&filter[term]=1&'
        + 'filter[name]=contains(' + keyword + ')';
        console.log(uri);
        var encode_uri = encodeURI(uri);
        console.log(encode_uri);

        $.get( encode_uri , function(response){
            var counter = response.length - 1;
            $('.simulator-search-result').children('.course-select-item').remove();
            for( i=0 ; i <= counter ; i++ ){
                var course = response[i];
                var course_name = course.name;
                var lecturer_name = course.lecturer;
                var course_code = course.general_code;
                var course_credits = course.credits;
                var course_id = course.code;

                 $('<div class="course-select-item">' +
                        '<div class="name">' + course_name + '</div>' +
                        '<div class="lecturer">' + lecturer_name +'</div>' +
                        '<div class="course-code">' + course_code + '</div>' +
                        '<br>' +
                        '<div class="course-time">c.course_time</div>' +
                        '<div class="course-location">c.location</div>' +
                        '<div class="course-credits">' + course.credits + '</div>'+
                        '<button class="add-to-simulator"></button>'+
                        '<div class="course-id" cid="' + course_id + '"></div></div>').appendTo('.simulator-search-result');
            }
            console.log(response.length);
        })
        .fail(function() {
            alert( "error" );
        })
    }
});
</script>
