<footer>
  <div class="footer-inner">
    <div class="footer-menu">
      <ul>
        <li><a href="http://misk.io" target="_blank">關於我們</a></li>
        <li><a href="https://www.facebook.com/pages/Colorgy/1529686803975150" target="_blank">聯絡我們</a></li>
        <li><a href="https://www.facebook.com/pages/Colorgy/1529686803975150" target="_blank">發落我們</a></li>
      </ul>
    </div>
    <div class="company-rights">
      <p><small><a href="https://github.com/colorgy/Table" target="_blank">網站原始碼 ＠Github</a> - © Colorgy 2015</small></p>
    </div>
  </div>
</footer>
