<%= stylesheet_link_tag 'pages' %>
<%= javascript_include_tag 'pages' %>
<section id="colorgy-table-section" class="colorgy-table-section service-intro-box table">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <div class="info table active" id="table-anchor">
          <div class="title table">
            <h3>下載 TABLE 行動課程表</h3>
          </div>
          <p class="description">排課表、課程提醒、課堂聊天室</p>
          <div class="call-to-action" style="margin-top: -16px;margin-bottom: 48px;">
            <a class="ios-download" href="https://itunes.apple.com/tw/app/colorgytable/id998230121?l=zh&mt=8" target="_blank"><%= image_tag('appstore.png') %></a>
          </div>
          <p>
            <span class="sub-title"><i class="material-icons">view_quilt</i><font style="font-weight:700;">排課表</font></span>
            同步各校課程資料，告訴你哪些課衝堂了，還能看到哪些帥哥美女選了什麼課，選完課匯入到 TABLE APP 帶著走，選課排課更輕鬆</br></br>
            <span class="sub-title"><i class="material-icons">phonelink_ring</i><font style="font-weight:700;">課程提醒</font></span>
            常常忘了在哪上課、老師是誰嗎？讓 Table 隨時提醒你，找教室沒煩惱</br></br>
            <span class="sub-title"><i class="material-icons">chat</i><font style="font-weight:700;">課堂聊天室</font></span>
            想跟同一堂課的同學們聊天嗎？課程聊天室讓你上課不再無聊，討論報告、上課內容更容易。</br></br>
          </p>
        </div>
      </div>
      <div class="col m6 s12">
        <div class="box-image table active">
        </div>
      </div>
    </div>
  </div>
</section>
