<div class="container-fuild app-intro">
	<div class="row">
		<div class="row-inner">
			<div class="col-md-4">
				<div class="app-img">
					<%= image_tag ('app-intro-page/app1.png') %>
				</div>
			</div>
			<div class="col-md-8">
				<div class="info info-right">
					<div class="title page-title">
						Colorgy Table
					</div>
					<div class="description">
						ㄧ手掌握，專屬於你的行動課表！
					</div>
				</div>
			</div>
		</div>
		<div class="bg bg-pink">

		</div>
	</div>
	<hr>
	<div class="row">
		<div class="row-inner">
			<div class="col-md-8">
				<div class="info">
					<div class="title">
						讓你帶的走的便利！
					</div>
					<div class="description">
						找不到教室的你，從此不必再擔心！<br>
						視覺化的個人課程、絕不讓你在校園內成為迷途羔羊！<br>
						透過雲端儲存，從電腦編輯到手機檢視，都能輕鬆搞定！<br>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="app-img">
					<%= image_tag ('app-intro-page/app2.png') %>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="row-inner">
			<div class="col-md-4">
				<div class="app-img">
					<%= image_tag ('app-intro-page/app3.png') %>
				</div>
			</div>
			<div class="col-md-8">
				<div class="info info-right">
					<div class="title">
						新增課程，彈指之間
					</div>
					<div class="description">
						Colorgy Table 透過整合各校課程，讓每位使用者能夠輕鬆新增、編輯課表內容。隨時更新你的生活步調！
					</div>
				</div>
			</div>
		</div>
		<div class="bg bg-gray">

		</div>
	</div>
</div>
