<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="not-support-yet">
        <div class="page-error-message">
          <i class="material-icons message-icon">face</i>
          <h4 class="message-title">We are sorry..</h4>
          <p class="message-content">
            您的學校是<%= current_user && current_user.organization_code %><br>
            開通每間學校我們都需要時間去搜集課程資料，我們人力有限，目前 Colorgy Table 還沒有提供你們學校的服務..<br><br>
            真的是不好意思，請幫我們的工程師加油打氣，讓我們知道你的學校也很需要這樣的服務，我們會更努力加快進行的唷！<br><br>
            <span style="font-style: italic;color: black;">PS: 您仍然有獲得 Colorgy 的購物金顯示在電腦版畫面右上角，歡迎 8/15 拿著您的購物金來 Colorgy 的原文書團訂服務 Colorgy Books 享受便利的訂書服務。</span>
            <br><br>
          </p>
          <a class="typeform-share btn btn--large" href="https://lucas51.typeform.com/to/HKPrKK" data-mode="1" target="_blank">我也想用 Colorgy Table</a>
          <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        </div>
      </div>
    </div>
  </div>
</div>
