<h4>課程總覽</h4>
<a class="waves-effect waves-light btn" href="<%= new_course_path %>">增加課程</a>
<hr>
<table>
	<thead>
		<th>課程名稱</th>
		<th>教授</th>
		<th>課程時間</th>
		<th>課程代碼</th>
		<th>刪除課程</th>
	</thead>
	<tbody>

	</tbody>
</table>
