<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.3&appId=875996725795280";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="row">
	<div class="col s12 m7 course-show">
		<div class="great-speak-field">
			<div class="great-person">
				<div class="inner">
					<div class="great-person-pic tooltipped" data-position="bottom" data-delay="50" data-tooltip="孔子睡覺會磨牙！乾！">
						<%= image_tag('mrkung.png') %>
					</div>
				</div>
			</div>
			<div class="great-speak">
				<div class="inner">
					<blockquote>
					子 曰 ： 「 學 而 時 習 之 ， 不 亦 說 乎 ？ 有 朋 自 遠 方 來 ， 不 亦 樂 乎 ？ 人 不 知 而 不 慍 ， 不 亦 君 子 乎 ？ 」
					</blockquote> 
				</div>
			</div>
		</div>
		<div class="card">
		<div class="card-image">
		  <span class="card-title">Card Title</span>
		</div>
		<div class="card-content">
		  <h4>course name</h4>
		  <p>教授： lecturer_name </p>
		  <p>課程時間： @course.course_time </p>
		  <p>課程代碼： @course.course_code </p>
		  <hr>
		  <div class="students-field">
		  	<p>女弟子：</p>
		  	<%= image_tag('students.png') %>
		  	<p>男弟子：</p>
		  	<%= image_tag('students.png') %>
		  </div>
		</div>
		</div>
		<div class="fb-comments">
			<div class="fb-comments" data-href="http://table.colorgy.dev/courses/<%= @course.id %>" data-numposts="5" data-colorscheme="light" data-width="100%"></div>
		</div>
	</div>
</div>
<script>
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 0});
  });
</script>
