.large-btn{
	background-color: $darker-gray;
	color: $white;
	padding: 15px 25px;
	border-radius: 10px;
	border: 0;
	@include transition-all(0.5s);

	&:focus, &:hover{
		background-color: rgba($darker-gray, 0.8);
	}
}
