body{
	background-color: #fcfcfc;
}
a{
	color: $dark-gray;
}
a:hover, a:focus{
	text-decoration: none;
}

nav{
	background-color: #fff;
	.brand-logo{
		color: $dark-gray;
	}
	ul{
		li{
			a{
				color: $dark-gray;
			}
		}
	}
}
i{
	vertical-align: middle;
	color: $dark-gray;
}
.list-icon{
  display: inline-block !important;
  margin-right: 5px;
}

.container-fuild{
	max-width: 1400px;
	margin: 0 auto;
}
.course-searchbox{
	border: 1px transparent solid !important;
	height: 2.5rem !important;
	padding-left: 10px !important;
	background-color: #fff !important;
	&:focus{
		border: 1px solid $primary-color !important;
		box-shadow: none !important;
	}
}
.course-select-field{
	background-color: transparent;
	padding: 8px 0px;
	.simulator-search-result{
		//height: calc(100% - 195px );
		height: 280px;
		max-height: 500px;
		width: 100%;
		padding-bottom: 250px;
		//width: calc(100% - 75px);
		position: relative;
		overflow-x: visible;
		overflow-y: auto;
	}
}
.course-hasselect-field{

	> .course-hasselect-field-inner{
		//height: calc(100% - 150px);
		height: auto;
		max-height: 550px;
		width: 100%;
		position: relative;
		overflow-x: visible;
		overflow-y: auto;
		padding-bottom: 250px;

		> .course-hasselect-item{
			padding: 8px 40px 8px 16px;
			position: relative;
			width: 100%;
			max-width: 100%;
			background-color: #ECE7E7;
			border-radius: 2px;
			overflow: hidden;
			margin-bottom: 8px;
			color: #fff;

			.name{
				font-size: 1em;
				font-weight: 500;
				color: darken(rgb(104, 104, 104) , 15%);
				max-width: 125px;
			}
			.lecturer{
				display: inline-block;
				color: rgb(104, 104, 104);
				margin-right: 5px;
				font-size: 0.8em;
			}
			.code{
				display: inline-block;
				font-size: 0.8em;
				color: rgb(104, 104, 104);
			}
			.time{
				display: inline-block;
				color: rgb(104, 104, 104);
				margin-right: 5px;
				display: none;
			}
			.location{
				display: inline-block;
				display: none;
			}
			.remove-hasselect-course{
				position: absolute;
				right: 0;
				top: 0;
				width: 90px;
				height: 100%;
				color: #fff;
				background-color: $white;
				text-align: center;
				border: 0;
				padding-top: 2.5px;
				border-left: 40px #D8D8D8 solid !important ;

				> i{
					color: #E76E5A;
				}
			}
			> .credits {
			  position: absolute;
			  top: 50%;
			  right: 67px;
			  transform: translateY(-50%);
			  z-index: 1;
			  color: rgb(104, 104, 104);
			}
		}
	}
}

.course-select-item{
	padding: 8px 40px 8px 16px;
	position: relative;
	width: 100%;
	max-width: 100%;
	background-color: #ffffff;
	margin-bottom: 8px;
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #eee;

	&.disabled {
		pointer-events: none;
		-webkit-filter: grayscale(90%);
		-o-filter: grayscale(90%);
		-moz-filter: grayscale(90%);
	}

	> .name{
		font-size: 1em;
		font-weight: 500;
		color: darken(#868383 , 15%);
		max-width: 125px;
		a{
			color: #868383;
		}
	}

	> .lecturer{
		font-size: 0.8em;
		display: inline-block;
		color: #868383;
	}

	> .course-code{
		font-size: 0.8em;
		display: inline-block;
		color: #868383;
		margin-left: 6px;
		letter-spacing: 0.8px;
	}
	> .course-time{
		font-size: 0.8em;
		color: rgb(104, 104, 104);
		display: inline-block;
		margin-right: 5px;
		display: none !important;
	}
	> .course-location{
		display: inline-block;
		font-size: 0.8em;
		color: rgb(104, 104, 104);
		display: none !important;
	}
	> .add-to-simulator{
		position: absolute;
		right: 0px;
		top: 0;
		width: 90px;
		height: 100%;
		color: $dark-gray;
		background-color: #ffffff;
		border-radius: 2px;
		text-align: center;
		border: 0;
		padding-top: 3.5px;
		border-left: 40px #ffffff solid !important;
		font-size: 2em;

		> i {
			color: #E76E5A;
		}
	}
	> .course-credits {
		position: absolute;
		top: calc(50% + 4px);
		right: 67px;
		transform: translateY(-50%);
		z-index: 1;
		color: rgb(104, 104, 104);;
	}
}
.simulator-table-field{
	padding: 24px 24px 20px 24px;
	background-color: transparent;
	//width: calc(100% - 450px );
	width: 100%;
	margin-left: auto;
	margin-right: 420px;
	overflow-x: auto;

	table.simulator-table{
		table-layout: fixed;
		word-break:break-all;
		word-wrap:break-word;
		min-width: 550px;
		max-width: 880px;
		margin-right: auto;
		margin-left: auto;

		th,td{
			height: 51px;
			padding: 8px 4px;
			text-align: center;
			position: relative;
			@include transition-all(0.6s);
		}
		thead{
			border-bottom: 1px solid #EDEDED;
		}
		tbody{
			background-color: #fefefe;
			tr{
				border-bottom: 1px solid #EDEDED;
				td{
					word-wrap:break-word;
				}
				td:nth-child(2n){
					background-color: #F4F4F4;
				}
				.simulator-table-course {
					position: relative;
					background-color: #fff;
					text-align: center;
					border: 1px solid rgb(230, 230, 230);
					margin: 0px 0px;
					padding: 6px 0;
					z-index: 1000;
					cursor: pointer;

					> .simulator-table-course-del{
						position: absolute;
						top: 0px;
						right: 0px;
						color: rgb(255, 255, 255);
						width: 18px;
						height: 18px;
						background-color: rgb(242, 102, 71);
						border-radius: 40px;
					}

					&.active{
						@include transition-all(0.5s);
					}
					height: 35px;
					@include text-overflow-ellipse;
					top: 0px;

					&.course-conflict{
						background-color: $secondary-color;
						color: #fff;

						//-webkit-animation: NAME_YOUR_ANIMATION 5s infinite; /* Safari 4+ */
						//-moz-animation:    NAME_YOUR_ANIMATION 5s infinite; /* Fx 5+ */
						//-o-animation:      NAME_YOUR_ANIMATION 5s infinite; /* Opera 12+ */
						//animation:         NAME_YOUR_ANIMATION 5s infinite;
					}
					&.on-hover{
						-webkit-animation: simulator_table_course_on_hover 0.8s infinite; /* Safari 4+ */
						-moz-animation:    simulator_table_course_on_hover 0.8s infinite; /* Fx 5+ */
						-o-animation:      simulator_table_course_on_hover 0.8s infinite; /* Opera 12+ */
						animation:         simulator_table_course_on_hover 0.8s infinite;
					}
					&.course-conflict-pack {
					  position: absolute;
					  width: calc(100% - 10px);
					  z-index: 1;
					  top: 7.5px;
					  left: 5px;
					}
				}
			}
		}
	}
}
/*
@keyframes NAME_YOUR_ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
*/
@keyframes simulator_table_course_on_hover {
  0%   { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.tabs .indicator{
	display: none;
}
.garbage-can-field{
	z-index: 999;
	background-color: $secondary-color;
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
	height: 50px;
	left: 0;
	padding-top: 4px;
	opacity: 0;
	visibility: hidden;
	@include transition-all(0.1s);
	&.hover{
		background-color: $primary-color !important;
	}
	&.active{
		opacity: 1;
		visibility: visible;
	}

	.garbage-can-delete{
		width: 40px;
		height: 40px;
		background-image: image-url('garbage-can.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 80%;
		background-color: transparent;
		border: 2px solid #fff;
		border-radius: 80px;
		opacity: 0.9;
	}
}
.import-to-mobile{
	background-color: $primary-color;
	border: 0;
	border-radius: 2px;
	color: #fff;
	padding: 5px 8px;
}
.course-show{
	margin: 50px auto;
	float: none !important;
	margin-right: auto;
	margin-left: auto !important;
	.great-speak-field{
		.great-person{
			display: inline-block;
			float: left;
			.inner{
				.great-person-pic{
					width: 150px;
				}
			}
		}
		.great-speak{
			display: inline-block;
			max-width: calc(100% - 170px);
			margin-left: 20px;
			.inner{
				blockquote{
					margin-top: 40px !important;
				}
			}
		}
	}
}
.card{
	width: 100%;
	margin-top: 50px;
}
.students-field{
	text-align: center;
	p{
		margin-bottom: 36px;
	}
	img{
		width: 80%
	}
}
.modal-content{
	position: absolute !important;
	min-height: 100%;
	max-height: 100% !important;
}
.app-intro{
	padding: 100px 0;

	.col-md-4, .col-md-8{
		position: initial;
	}

	.app-img{
		max-width: 300px;
		margin: 0 auto;
	}
	.row{
		position: relative;
		padding: 12px 0;

		.row-inner{
			max-width: 1100px;
			margin: 0 auto;
		}
		.bg{
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 0;
			max-height: 300px;
			@include translateY(-50%);
			z-index: -1;

			&.bg-pink{
				background-color: #F89680;
			}
			&.bg-gray{
				background-color: #4A4A4A;
			}
		}
	}
	.info{
		@media screen and (min-width: 992px) {
			position: absolute;
			top: 50%;
			&.info-right{
				color: #fff;
				right: 10%;
			}
			max-width: 500px;
			text-align: left;
			@include translateY(-50%);
		}

		text-align: center;

		.title{
			font-size: 2em;
			padding: 12px 0;
		}
		.title.page-title {
			font-size: 4em !important;
		}
		.description{
			font-size: 1em;
			padding: 12px 0;
		}
	}
}

// Base

@import 'helpers/mixins';

$border-radius: 2px;
.navbar-fixed{
	height: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999999 !important;
	nav {
	  position: relative;
	}
}
*:focus{
	outline: none;
}
img{
	width: 100%;
}
label{
	color: $font;
}
a:hover{
	text-decoration: none;
	color: $black;
}
.clear{
	clear: both;
}
.black-mask{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba( $black, .5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	@include transition-all(0.5s);

	&.active{
		opacity: 1;
		visibility: visible;
	}
}
.wrapper{
	padding-top: 50px;
	@media screen and (max-width: 992px) {
		padding-top: 0 !important;
	}
}
// Grid System
.container-fluid{
	padding: 0;
}
.row.row-inner{
	max-width: 1200px;
}
.row.row-inner-m{
	max-width: 800px;
}
@media screen and (max-width: 768px){
	.col-xs-6{
		padding: 2px !important;
	}
}
/*
@media screen and (min-width: 1350px){
	.col-md-3{
		width: 20% !important;
	}
}
*/
.nav-user-info{
	padding: 0px 8px;
	.user-avatar{
		display: inline-block;
		img{
			width: 30px;
			height: 30px;
			border-radius: 60px;
			overflow: hidden;
		}
	}
	.user-name{
		color: $dark-gray;
		display: inline-block;
		padding-left: 8px;
	}
}

.simulator-sidebar{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 24px 16px;
//	width: 100%;
//	max-width: 400px;
//	min-width: 270px;
	right: 0px;
	top: 0;
	background-color: #F4F4F4;
	border-radius: 4px;
	border: 1px solid rgb(211, 210, 210);

	&::before{
		content: '加課程吧';
		position: absolute;
		left: -8px;
		top: -16px;
		background-color: $secondary-color;
		padding: 4px 16px;
		color: #fff;
		border-radius: 2px;
		font-size: 14px;
		box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	}
	.simulator-inner-layer2{
		position: absolute;
	}

}
.course-hasselect-field{
	position: relative;
	width: 100%;
	height: 100%;
//	width: 100%;
//	max-width: 400px;
//	min-width: 270px;
	right: 0;
	top: 0;
	background-color: $primary-color !important;
	@include transition-all(0.5s);
	border-radius: 4px;
	padding: 24px 16px;
	border: 1px solid #d3d2d2;

	&::before{
		content: '已選課程';
		position: absolute;
		left: -8px;
		top: -16px;
		background-color: rgb(244, 244, 244);
		padding: 4px 16px;
		color: #717071;
		border-radius: 2px;
		font-size: 14px;
		box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	}

	&.active{
		//@include translateX(-360px);
	}

	.course-hasselect-field-trigger{
		position: absolute;
		left: -35px;
		top: 50%;
		padding: 8px 0;
		border-radius: 2px 0 0 2px;
		@include translateY(-50%);
		width: 40px;
		height: auto;
		cursor: pointer;
		background-color: $primary-color !important;
		p{
			font-size: 1em;
			color: $white;
			text-align: center;
		}
	}
}
.simulator-title{
	font-size: 1.6em;
	color: $secondary-color;
	text-align: center;
}
i.mdi-content-clear {
  color: black;
  font-size: 24px;
}
.simulator-sidebar-trigger{
	background-color: rgb(74, 74, 74);
	a{
		color: $white !important;
	}
}
.course-hasselect-field-trigger{
	background-color: $primary-color;
	a{
		color: $white !important;
	}
}
.simulator-fixed{
	padding: 0 16px !important;
	@include transition-all(0.3s);
	@media screen and (min-width: 992px) {
		width: 320px !important;
	}
	@media screen and (max-width: 992px){
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
	}
	&.active{
		opacity: 1;
		visibility: visible;
	}
}
.simulator-fixed-calendar{
	background-color: transparent;
	padding: 0 8px;
	@include transition-all(0.3s);
	@media screen and (min-width: 992px){
		width: calc(100% - 336px) !important;
	}
	@media screen and (max-width: 992px){
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		height: 100%;
		overflow: scroll;
	}
	&.active{
		opacity: 1;
		visibility: visible;
	}
}
.mobile-bottom-nav{
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 60px;
	background-color: #F89680;
	text-align: center;
	color: #fff;
	opacity: 1;
	visibility: visible;
	@include transition-all(0.3s);

	&.hide{
		opacity: 0;
		visibility: hidden;
	}
	.mobile-nav-btn{
		padding: 10px 5px;

		&.btn-1{
			position: absolute;
			width: 33.3333%;
			height: 100%;
			left: 0;
			top: 0;
			cursor: pointer;
		}
		&.btn-2{
			position: absolute;
			width: 33.3333%;
			height: 100%;
			left: 33.33333%;
			top: 0;
			cursor: pointer;
		}
		&.btn-3{
			position: absolute;
			width: 33.3333%;
			height: 100%;
			left: 66.666666%;
			top: 0;
			cursor: pointer;
		}
	}
	@media screen and (min-width: 992px){
		opacity: 0;
		visibility: hidden;
	}
	@media screen and (max-width: 992px){
		opacity: 1;
		visibility: visible;
	}
}
.tabs .tab{
	border-radius: 15px 3px 0 0;
}
.school-select-form{
	> select {
		border: 1px solid #d3d2d2;
	}
}
.spinner-red-only{
	border-color: $secondary-color;
}

.users-on-course-list {
	li{
		height: 45px;
		width: 45px;
		border: 1px solid #eee;
		display: inline-block;
		float: left;
		border-radius: 2px;
	}
}
.course-search-form{
	position: relative;
	> .course-searchbox{
		padding-left: 32px !important;
		width: calc(100% - 32px ) !important;
	}
	> label{
		position: absolute;
		top: 9px;
		left: 9px;
	}
}
.simulator-help-btn{
	position: fixed;
	right: 16px;
	bottom: 16px;

	i{
		font-size: 40px !important;
		color: $secondary-color;
	}

}
