body{
	background-color: #fff;
}
a{
	color: $dark-gray;
}
a:hover, a:focus{
	text-decoration: none;
}

nav{
	background-color: #fff;
	.brand-logo{
		color: $dark-gray;
	}
	ul{
		li{
			a{
				color: $dark-gray;
			}
		}
	}
	.nav-wrapper{
		display: none;
	}
}
.course-searchbox{
	border: 1px transparent solid !important;
	height: 2.5rem !important;
	width: calc(100% - 10px ) !important;
	padding-left: 10px !important;
	background-color: #fff !important;
	margin-top: 15px !important;
	&:focus{
		border: 1px solid #26a69a !important;
		box-shadow: none !important;
	}
}
.course-select-field{
	background-color: transparent;
	padding: 20px 0px;
	.simulator-search-result{
		//height: calc(100% - 195px );
		height: 400px;
		max-height: 500px;
		width: 100%;
		padding-bottom: 250px;
		//width: calc(100% - 75px);
		position: relative;
		overflow-x: visible;
		overflow-y: scroll;
	}
}
.course-hasselect-field{
	background-color: #fff;
	padding: 0px 10px;
	margin-top: 24px;

	> .course-hasselect-field-inner{
		//height: calc(100% - 150px);
		height: auto;
		max-height: 550px;
		width: 100%;
		position: relative;
		overflow-x: visible;
		overflow-y: auto;
		padding-bottom: 250px;

		> .course-hasselect-item{
			padding: 10px 40px 10px 20px;
			position: relative;
			width: 100%;
			max-width: 100%;
			background-color: $select-gray;
			border-radius: 8px;
			overflow: hidden;
			margin-bottom: 8px;
			color: #fff;

			.name{
				font-size: 1.2em;
				font-weight: 500;
				color: rgb(104, 104, 104);
			}
			.lecturer{
				display: inline-block;
				color: rgb(104, 104, 104);
				margin-right: 5px;
			}
			.code{
				display: inline-block;
			}
			.time{
				display: inline-block;
				color: rgb(104, 104, 104);
				margin-right: 5px;
				display: none;
			}
			.location{
				display: inline-block;
				display: none;
			}
			.remove-hasselect-course{
				position: absolute;
				right: 0;
				top: 0;
				width: 90px;
				height: 100%;
				color: #fff;
				background-color: $white;
				text-align: center;
				border: 0;
				padding-top: 2.5px;
				border-left: 40px #D8D8D8 solid !important ;
				a{
					color: #fff !important;
					font-size: 18px;
				}
			}
			> .credits {
			  position: absolute;
			  top: 50%;
			  right: 67px;
			  transform: translateY(-50%);
			  z-index: 1;
			  color: rgb(104, 104, 104);
			}
		}
	}
}

.course-select-item{
	padding: 10px 40px 10px 20px;
	position: relative;
	width: 100%;
	max-width: 100%;
	background-color: $primary-pink;
	margin-bottom: 8px;
	border-radius: 8px;
	overflow: hidden;

	&.disabled {
		pointer-events: none;
		-webkit-filter: grayscale(90%);
		-o-filter: grayscale(90%);
		-moz-filter: grayscale(90%);
	}

	> .name{
		font-size: 1.2em;
		font-weight: 500;
		color: #fff;
		a{
			color: $white;
		}
	}

	> .lecturer{
		font-size: 0.9em;
		display: inline-block;
		color: $white;
	}

	> .course-code{
		font-size: 0.9em;
		display: inline-block;
		color: $white;
	}
	> .course-time{
		font-size: 0.9em;
		color: rgb(104, 104, 104);
		display: inline-block;
		margin-right: 5px;
		display: none !important;
	}
	> .course-location{
		display: inline-block;
		font-size: 0.9em;
		color: rgb(104, 104, 104);
		display: none !important;
	}
	> .add-to-simulator{
		position: absolute;
		right: 0px;
		top: 0;
		width: 90px;
		height: 100%;
		color: $dark-gray;
		background-color: #fff;
		border-radius: 0px;
		text-align: center;
		border: 0;
		padding-top: 3.5px;
		border-left: 40px #E26D5A solid !important;
		font-size: 2em;
		a{
			color: #fff !important;
			font-size: 18px;
		}
		&:before{
			content: '+';
			width: 30px;
			height: 30px;
			top: 50%;
			@include translateY(-50%);
			right: 10px;
			position: absolute;
			color: $dark-gray;
			text-align: center;
		}
	}
	> .course-credits {
		position: absolute;
		top: 50%;
		right: 67px;
		transform: translateY(-50%);
		z-index: 1;
		color: #fff;
	}
}
.simulator-table-field{
	padding: 24px 24px 20px 24px;
	background-color: #fff;
	//width: calc(100% - 450px );
	width: 100%;
	margin-left: auto;
	margin-right: 420px;
	overflow-x: scroll;

	table.simulator-table{
		table-layout: fixed;
		word-break:break-all;
		word-wrap:break-word;
		min-width: 550px;
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;

		th,td{
			height: 66px;
			text-align: center;
			position: relative;
			@include transition-all(0.6s);
		}
		tbody{
			border-left: 1px solid #F5D8D1;
			tr{
				border-bottom: 1px solid #F5D8D1;
				td{
					word-wrap:break-word;
				}
				td:nth-child(2n){
					background-color: #EEE7E7;
				}
				.simulator-table-course {
					position: relative;
					background-color: #fff;
					text-align: center;
					border: 1px solid rgb(230, 230, 230);
					margin: 0px 0px;
					padding: 6px 0;
					z-index: 1000;
					cursor: pointer;
					&.active{
						@include transition-all(0.5s);
					}
					height: 35px;
					@include text-overflow-ellipse;
					top: 0px;

					&.course-conflict{
						background-color: $secondary-pink;
						color: #fff;

						//-webkit-animation: NAME_YOUR_ANIMATION 5s infinite; /* Safari 4+ */
						//-moz-animation:    NAME_YOUR_ANIMATION 5s infinite; /* Fx 5+ */
						//-o-animation:      NAME_YOUR_ANIMATION 5s infinite; /* Opera 12+ */
						//animation:         NAME_YOUR_ANIMATION 5s infinite;
					}
					&.on-hover{
						-webkit-animation: simulator_table_course_on_hover 0.8s infinite; /* Safari 4+ */
						-moz-animation:    simulator_table_course_on_hover 0.8s infinite; /* Fx 5+ */
						-o-animation:      simulator_table_course_on_hover 0.8s infinite; /* Opera 12+ */
						animation:         simulator_table_course_on_hover 0.8s infinite;
					}
					&.course-conflict-pack {
					  position: absolute;
					  width: calc(100% - 10px);
					  z-index: 1;
					  top: 15px;
					  left: 5px;
					}
				}
			}
		}
	}
}
/*
@keyframes NAME_YOUR_ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
*/
@keyframes simulator_table_course_on_hover {
  0%   { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.tabs .indicator{
	display: none;
}
.garbage-can-field{
	z-index: 999;
	background-color: $secondary-pink;
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
	height: 50px;
	left: 0;
	padding-top: 4px;
	opacity: 0;
	visibility: hidden;
	@include transition-all(0.1s);
	&.hover{
		background-color: $primary-pink !important;
	}
	&.active{
		opacity: 1;
		visibility: visible;
	}

	.garbage-can-delete{
		width: 40px;
		height: 40px;
		background-image: image-url('garbage-can.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 80%;
		background-color: transparent;
		border: 2px solid #fff;
		border-radius: 80px;
		opacity: 0.9;
	}
}
.import-to-mobile{
	background-color: $primary-pink;
	border: 0;
	border-radius: 8px;
	color: #fff;
	padding: 5px 8px;
}
.course-show{
	margin: 50px auto;
	float: none !important;
	margin-right: auto;
	margin-left: auto !important;
	.great-speak-field{
		.great-person{
			display: inline-block;
			float: left;
			.inner{
				.great-person-pic{
					width: 150px;
				}
			}
		}
		.great-speak{
			display: inline-block;
			max-width: calc(100% - 170px);
			margin-left: 20px;
			.inner{
				blockquote{
					margin-top: 40px !important;
				}
			}
		}
	}
}
.card{
	width: 100%;
	margin-top: 50px;
}
.students-field{
	text-align: center;
	p{
		margin-bottom: 36px;
	}
	img{
		width: 80%
	}
}


