// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize/core/prefixer";
@import "materialize/core/mixins";
@import "materialize/core/colors";
@import "materialize/core/helpers";

// Variables;
@import "materialize/core/variables";

// materialize/components
@import "materialize/core/global";
@import "materialize/core/icons-material-design";
@import "materialize/core/grid";
@import "materialize/core/preloader";
@import "materialize/core/roboto";
@import "materialize/core/typography";
@import "materialize/core/waves";
@import "materialize/core/materialbox";

//-----------------
//-----------------
/*

1. Landing Page
2. 完成訂購
3. 訂單狀態
4. 主揪
5. 手機版固定 Btn
6. Pin Menu 側邊固定 menu
7. 超商付款教學
8. Type Form
9. 上傳書籍
10. Others


*/
//-----------------
//-----------------




// --------
// 1. Landing Page
// --------

.service-introduction{
	padding: 36px 0;
	&.odd{
		background-color: #eee;
	}
	.icon{
		text-align: center;
		&.odd{
			@media screen and (min-width: 992px){
				text-align: right !important;
			}
		}
		&.even{
			@media screen and (min-width: 992px){
				text-align: left !important;
			}
		}
		img{
			max-width: 250px;
		}
	}
	.text-content{
		padding-top: 16px;
		padding-left: 24px;
		padding-right: 24px;
		@media screen and (min-width: 992px){
			max-width: 450px;
			padding-left: 12px;
			padding-right: 12px;
			&.even{
				margin-left: auto;
			}
		}
		h3{
			color: black;
			font-size: 2em;
		}
		p{
			color: #717071;
		}
	}
}
.row.service-introduction {
  margin-bottom: 0;
}
.go-login{
  background: rgb(0, 208, 173);
  padding-top: 80px !important;
  padding-bottom: 150px !important;
  text-align: center;
  margin-top: 36px;
  h4{
  	color: #fff;
  	margin-bottom: 40px;
  	font-size: 1.6em;
  }
}

// End




// --------
// 5. 手機版固定 Btn
// --------

.login-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 14px;
		right: 18px;
		z-index: 99999999999;
		display: none;

		a{
			padding: 6px 12px;
			background-color: $primary-color;
			display: block;
			font-size: 12px;
			color: #fff;
			border-radius: $border-radius;
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}
.shopping-cart-mobile-btn{
	@media screen and (max-width: 992px){
		position: fixed;
		top: 12px;
		right: 18px;
		z-index: 99999999999;


		a{
			display: block;
			font-size: 24px;
			color: $darker-gray;
			i{
				color: $darker-gray;
				font-size: 24px !important;
			}
		}
	}
	@media screen and (min-width: 992px){
		display: none;
	}
}

// End

// --------
// 6. Pin Menu 側邊固定 menu
// --------

.pin-menu.fixed-menu{
	position: fixed;
	top: 120px;
}

.table-of-contents{
	a{
		height: 1.8em;
		line-height: 1.8em;
		font-size: 1.2em;

		&.active{
			border-left: 2px solid $primary-color;
		}
		&:hover{
			border-left: 2px solid $primary-color;
			opacity: 0.5;
		}
	}
}

// End

// --------
// 9. Type Form
// --------

#typeform-wrapper{
	z-index: 999999999999 !important;
	width: 100% !important;

	> img{
		width: 40px !important;
		background-color: black !important;
		right: 12px !important;
	}
}


// End


// --------
// Others
// --------


i{
	vertical-align: middle;
}
.help-btn{
  background-image: url("/images/help.png");
  background-size: 80%;
  background-position: 4px 2px;
  width: 40px !important;
  height: 40px;
  background-repeat: no-repeat;
}
.wrapper{
	min-height: 100vh;
}
.list-icon{
  display: inline-block !important;
  margin-right: 5px;
}




// ---------
// Header
// ---------

header{
	background-image: image-url('bg.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 700px;
	width: 100%;
	position: relative;
	overflow: hidden;

	> .header-mask{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(255, 206, 195, 0.2);
	}

	> .header-slogan{
		position: relative;
		color: #eee;
		text-align: center;
		padding-top: 144px;

		> h2{
			text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
			@media screen and (max-width: 600px) {
				font-size: 2em;
			}
		}

		> p {
			text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
			@media screen and (max-width: 600px) {
				font-size: 1em;
			}

		}

	}

	> .header-call-to-action{
		position: relative;
		text-align: center;
	}

	> .slideshow-3d{
		width: 465px;
		height: 140px;
		position: relative;
		margin: 40px auto 40px;
		-webkit-perspective: 1600px;
		-moz-perspective: 1600px;
		-o-perspective: 1600px;
		perspective: 1600px;
		opacity: 1;
		transition: all 0.8s;
		-webkit-transition: all 0.8s;
		-o-transition: all 0.8s;
		-ms-transition: all 0.8s;
		-moz-transition: all 0.8s;

		.slideshow-3d-inner{
			transition: transform 1s;
			-moz-transition: transform 1s;
			-ms-transition: transform 1s;
			-o-transition: transform 1s;
			-webkit-transition: transform 1s;
			position: absolute;
			transform: translateZ(-1600px) rotateY(0deg);
			-moz-transform: translateZ(-1600px) rotateY(0deg);
			-webkit-transform: translateZ(-1600px) rotateY(0deg);
			-o-transform: translateZ(-1600px) rotateY(0deg);
			-ms-transform: translateZ(-1600px) rotateY(0deg);
			width: 100%;
			height: 100%;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			-o-transform-style: preserve-3d;
			transform-style: preserve-3d;

			.layer{
				width: 400px;
				margin: 12px 24px;
				position: absolute;
				left: 10px;
				top: 10px;
				transition: opacity 1s, transform 1s;
				-moz-transition: opacity 1s, transform 1s;
				-webkit-transition: opacity 1s, transform 1s;
				-o-transition: opacity 1s, transform 1s;
				-ms-transition: opacity 1s, transform 1s;
				display: block;
				text-align: center;
				color: #eee;

				&.layer1{
					transform: rotateY(-16deg) translateZ(1600px);
				}

				&.layer2{
					transform: rotateY(0deg) translateZ(1600px);
				}

				&.layer3{
					transform: rotateY(16deg) translateZ(1600px);
				}
			}
		}
	}
}

.service{
	position: relative;
	text-align: center;
	background-color: rgba(240,240,240,.8);
	color: #464646;
	margin: 8px;
	padding: 16px 8px 24px 8px;
	min-height: 215px;

	> h4 {
		color: darken(#B4B3B3, 30%);
		text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	}

	> p {
		border-bottom: 1px solid #B4B3B3;
		padding-bottom: 8px;
		margin-bottom: 8px;
	}
	> small{
		font-size: 1em;
		padding: 8px;
		text-align: center;
		display: block;
	}
}

.service-intro-box{
	position: relative;
	width: 100%;
	height: 840px;
	overflow-x: hidden;

	&.books{
		background-color: #f7f8fa;
	}
	&.tasks{
		background-color: #EEEFF1;
	}
	&.table{
		background-color: #f7f8fa;
	}

	.box-image{
		opacity: 0;
		transition: opacity 2s;
		-webkit-transition: opacity 2s;
		-moz-transition: opacity 2s;
		-o-transition: opacity 2s;
		-ms-transition: opacity 2s;

		&.active{
			opacity: 1;
		}

		@media screen and (max-width: 600px) {
			transform: none !important;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			-o-transform: none !important;
			-ms-transform: none !important;
			position: static !important;
			top: initial !important;
			margin-top: 36px;
			display: none;
		}

		&.books{
			background: image-url('books-img.jpg') left top;
			background-size: auto 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: 58%;
			width: 853px;
			height: 630px;
		}

		&.tasks{
			right: 57%;
			background: image-url('tasks-img.jpg')left top;
			background-size: auto 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: inherit;
			width: 900px;
			height: 631px;
		}
		&.table{
			background: image-url('table-img.png')left top;
			background-size: auto 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			left: 58%;
			width: 853px;
			height: 630px;
		}
	}
	.info{
		opacity: 0;
		visibility: hidden;
		transition: all 2s;
		-webkit-transition: all 2s;
		-moz-transition: all 2s;
		-o-transition: all 2s;
		-ms-transition: all 2s;



		@media screen and (max-width: 600px) {
			position: static !important;
			top: initial;
			transform: none !important;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			-ms-transform: none !important;
			-o-transform: none !important;
			width: 100% !important;
			max-width: 300px;
			margin: 0 auto;
			padding: 80px 0;
		}

		&.books{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-300px);
			-webkit-transform: translateY(-50%) translateX(-300px);
			-moz-transform: translateY(-50%) translateX(-300px);
			-o-transform: translateY(-50%) translateX(-300px);
			-ms-transform: translateY(-50%) translateX(-300px);
			width: 35%;
			&.active{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) translateX(0);
				-webkit-transform: translateY(-50%) translateX(0);
				-moz-transform: translateY(-50%) translateX(0);
				-o-transform: translateY(-50%) translateX(0);
				-ms-transform: translateY(-50%) translateX(0);
			}
		}
		&.tasks{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-300px);
			-webkit-transform: translateY(-50%) translateX(-300px);
			-moz-transform: translateY(-50%) translateX(-300px);
			-o-transform: translateY(-50%) translateX(-300px);
			-ms-transform: translateY(-50%) translateX(-300px);
			width: 35%;
			left: 58%;
			&.active{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) translateX(0);
				-webkit-transform: translateY(-50%) translateX(0);
				-moz-transform: translateY(-50%) translateX(0);
				-o-transform: translateY(-50%) translateX(0);
				-ms-transform: translateY(-50%) translateX(0);
			}
		}
		&.table{
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(-300px);
			-webkit-transform: translateY(-50%) translateX(-300px);
			-moz-transform: translateY(-50%) translateX(-300px);
			-o-transform: translateY(-50%) translateX(-300px);
			-ms-transform: translateY(-50%) translateX(-300px);
			width: 35%;
			//left: 58%;
			&.active{
				opacity: 1;
				visibility: visible;
				transform: translateY(-50%) translateX(0);
				-webkit-transform: translateY(-50%) translateX(0);
				-moz-transform: translateY(-50%) translateX(0);
				-o-transform: translateY(-50%) translateX(0);
				-ms-transform: translateY(-50%) translateX(0);
			}
		}

		> .title{

			> h3{
				margin-top: 0;
				color: $dark-gray;
			}

			&::before{
				content: " ";
				width: 29px;
				height: 4px;
				background: $secondary-color;
				position: absolute;
				top: -20px;
				left: 0px;
			}
		}

		> .description{
			color: $dark-gray;
			margin-bottom: 40px;
		}

		> p{

			> .sub-title{
				margin-bottom: 8px;
				display: block;
				font-size: 1.2em;

				> i{
					color: $dark-gray;
					margin-right: 8px;
				}
			}
			color: $dark-gray;
			font-size: 1em;
		}

	}
}

.cooperating-departments{
	background-color: $darker-gray;
	padding: 80px 0;
	text-align: center;

	h4{
		color: #fff;
		text-align: center;
		> span{
			color: $primary-color;
		}
	}
	p{
		color: #fff;
		text-align: center;
		font-size: 1em;
	}

	.departments{
		margin-top: 48px;
	}

	.departments-list{
		> h5{
			color: $primary-color;
			margin-bottom: 16px;
		}

		li{
			color: #f8f8f8;
		}
	}
	.departments-list.element-item{
		margin-bottom: 40px;
	}

}

.keep-mention{
	text-align: left;
	padding: 80px 0 0 0;
	background-color: #f7f8fa;

	.app-img{
		margin-bottom: -4px;
	}

	.text{
		max-width: 400px;
		margin: 120px auto 0 auto;

		@media screen and (max-width: 600px) {
			margin: 0px auto 36px auto;
			max-width: 300px;
		}
		p{
			font-size: 1em;
		}
		a{
			color: $primary-color;
			&:hover{
				color: lighten( $primary-color , 15%);
			}
		}

		> .buttons{
			margin-top: 36px;
		}
	}
}

.sign-up-section{
	padding: 80px 0;
	text-align: center;
	background-color: #fff;

	h4{
		color: $primary-color;
	}
	p{
		color: $dark-gray;
		font-size: 1em;
	}
}

nav.colorgy-nav.not-on-top{
	background-color: rgba(0,0,0,.6) !important;
}

.arrow-down{
	text-align: center;
	> i{
		font-size: 2em !important;
		color: #eee;
		position: relative;
	}
}

.register-login-btn{
	position: relative;
	&:hover{
		&::before{
			border: 1px solid $primary-color;
		}
	}

	&::before{
		position: absolute;
		content: ' ';
		width: 100px;
		height: 40px;
		border-radius: 2px;
		border: 1px solid #eee;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}

}
/* Isotope */
/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- .element-item ---- */
.grid-sizer{
  width: 18%;
}
.element-item {
  position: relative;
  overflow: hidden;
  float: left;
  width: 18%;
  height: auto;
  margin: 1%;
  padding: 0;
  background: transparent;
  color: #262524;
  opacity: 0.95;

  img{
  	-webkit-transition: transform 0.5s;
	-moz-transition: transform 0.5s;
	-ms-transition: transform 0.5s;
	-o-transition: transform 0.5s;
	transition: transform 0.5s;
  }

  &:hover img{
  	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15);

  }

  .element-item-infobox{
  	padding: 10px;
  	h5,h6{
  		color: #605F5F;
  	}
  	h5{
  		margin-bottom: 15px;
  	}
  	h6{
  		line-height: 20px;
  		text-align: center;
  	}
  	p{

  		border-top: 1px solid #eee;
		padding-top: 15px;
		text-align: right;
		padding-right: 15px;

		a{
			color: #605F5F;
		}
		a:hover,a:focus{
			color: rgb(174, 174, 171);
		}
  	}
  }
}

@media screen and (min-width: 1425px ){  .element-item { width: 14.6%; } .element-item.w2{ width: 23% !important; } }
@media (max-width: 1425px ) and (min-width: 800px ){ .element-item{ width: 23%; } }
@media (max-width: 800px ) and (min-width: 508px ){ .element-item{ width: 31.333%; } }
@media screen and (max-width: 508px){  .element-item{ width: 48%; } }
.element-item > * {
  margin: 0;
  padding: 0;
}

